html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.ibg {
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-block {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #521919;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
}

.text-block {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
  margin-bottom: 32px;
}

.button {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 16px 32px;
  background-color: #0e1734;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  z-index: 7;
}

.button-block {
  background-color: #0e1734;
  z-index: 7;
}

.button-block:hover {
  background-color: #521919;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1230px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }
}

.header {
  z-index: 50;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  z-index: 3;
}

.header__logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #521919;
  position: relative;
  z-index: 4;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.header__burger {
  display: none;
}

.header__burger span {
  position: absolute;
  background-color: #000000;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.menu__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #521919;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.menu__link:hover {
  border-bottom: 1px solid #0b265a;
}

.button_dark-blue {
  position: relative;
  background-color: #0e1734;
  padding: 14px 16px;
  z-index: 6;
}

.button_dark-blue:hover {
  background-color: #521919;
}

@media (max-width: 1230px) {
  .header__container {
    min-height: 100px;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
  .header__container {
    min-height: 70px;
  }
  .header__logo {
    font-size: 28px;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 5;
    right: 15px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    overflow: auto;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 120px 15px 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__link {
    font-size: 25px;
    color: #ffffff;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .header__menu.active {
    top: 0;
    background-color: #3f5de0;
  }
  .header__button {
    margin-right: 40px;
  }
}

.hero {
  padding: 80px 0 96px 0;
}

.hero__containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 587px;
          flex: 0 0 587px;
}

.hero__title {
  font-size: 48px;
}

.hero__text {
  width: 485px;
}

.hero__img {
  width: 100%;
}

@media (max-width: 1230px) {
  .hero {
    padding: 50px 0 50px 0;
  }
  .hero__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 530px;
            flex: 0 0 530px;
    padding-right: 15px;
  }
}

@media (max-width: 991.98px) {
  .hero {
    padding: 35px 0 40px 0;
  }
  .hero__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__text {
    width: 400px;
    margin-bottom: 25px;
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .hero {
    padding: 20px 0 25px 0;
  }
  .hero__containter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 25px;
    padding-right: 0;
  }
  .hero__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero__text {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.hotel-norway {
  padding: 80px 0;
}

.hotel-norway__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-norway__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 690px;
          flex: 0 0 690px;
}

.hotel-norway__text {
  width: 584px;
  margin-bottom: 16px;
}

.hotel-norway__text2 {
  width: 584px;
  margin-bottom: 32px;
}

.hotel-norway__img {
  width: 100%;
}

@media (max-width: 1230px) {
  .hotel-norway {
    padding: 50px 0;
  }
  .hotel-norway__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 600px;
            flex: 0 0 600px;
    padding-left: 30px;
  }
  .hotel-norway__text,
  .hotel-norway__text2 {
    width: 565px;
  }
}

@media (max-width: 991.98px) {
  .hotel-norway {
    padding: 40px 0;
  }
  .hotel-norway__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 500px;
            flex: 0 0 500px;
    padding-left: 30px;
  }
  .hotel-norway__title {
    font-size: 32px;
  }
  .hotel-norway__text,
  .hotel-norway__text2 {
    width: 100%;
    font-size: 16px;
  }
  .hotel-norway__text2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .hotel-norway {
    padding: 25px 0;
  }
  .hotel-norway__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .hotel-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .hotel-norway__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-left: 0;
    margin-bottom: 25px;
  }
  .hotel-norway__title {
    margin-bottom: 20px;
  }
  .hotel-norway__text,
  .hotel-norway__text2 {
    width: 100%;
    font-size: 16px;
  }
}

.activities-food {
  padding: 80px 0;
}

.activities-food__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.activities__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 584px;
          flex: 0 0 584px;
}

.activities__text {
  margin-bottom: 0;
}

.activities__img {
  width: 100%;
}

.food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 584px;
          flex: 0 0 584px;
}

.food__text {
  margin-bottom: 0;
}

.food__img {
  width: 100%;
}

@media (max-width: 1230px) {
  .activities-food {
    padding: 50px 0;
  }
  .activities__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 560px;
            flex: 0 0 560px;
    padding-right: 30px;
  }
  .food__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 560px;
            flex: 0 0 560px;
    padding-left: 30px;
  }
}

@media (max-width: 991.98px) {
  .activities-food {
    padding: 40px 0;
  }
  .activities__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 470px;
            flex: 0 0 470px;
    padding-right: 30px;
  }
  .activities__title {
    font-size: 32px;
  }
  .activities__text {
    font-size: 16px;
  }
  .food__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 470px;
            flex: 0 0 470px;
    padding-left: 30px;
  }
  .food__title {
    font-size: 32px;
  }
  .food__text {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .activities-food {
    padding: 25px 0;
  }
  .activities {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .activities__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-right: 0;
    margin-bottom: 25px;
  }
  .activities__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .activities__text {
    font-size: 16px;
  }
  .activities__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .food {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .food__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .food__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-left: 0;
    margin-bottom: 25px;
  }
  .food__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .food__text {
    font-size: 16px;
  }
}

.many-rooms {
  padding: 80px 0;
}

.many-rooms__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 88px;
}

.many-rooms__text {
  width: 588px;
  display: inline-block;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card__item {
  display: inline-block;
}

.card__image {
  margin-bottom: 32px;
  padding: 0 0 127.5% 0;
  position: relative;
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}

.card__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 16px;
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
  margin-bottom: 32px;
}

.card__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__link-icon {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424f7b;
  text-decoration: none;
  background: url(../img/card-right.png) right no-repeat;
  padding-right: 32px;
  -webkit-transition: right ease 0.2s;
  transition: right ease 0.2s;
  position: relative;
  right: 0;
}

.card__link-icon:hover {
  right: -10px;
}

@media (max-width: 1230px) {
  .many-rooms {
    padding: 50px 0;
  }
  .many-rooms__body {
    margin-bottom: 50px;
  }
  .card__image,
  .card__text {
    margin-bottom: 25px;
  }
}

@media (max-width: 991.98px) {
  .many-rooms {
    padding: 40px 0;
  }
  .many-rooms__body {
    margin-bottom: 40px;
  }
  .many-rooms__title {
    font-size: 32px;
  }
  .many-rooms__text {
    font-size: 16px;
  }
  .card__image,
  .card__text {
    margin-bottom: 20px;
  }
  .card__title {
    font-size: 22px;
  }
  .card__text {
    font-size: 15px;
  }
}

@media (max-width: 767.98px) {
  .many-rooms {
    padding: 25px 0;
  }
  .many-rooms__body {
    margin-bottom: 30px;
  }
  .many-rooms__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .many-rooms__text {
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
  }
  .card__image,
  .card__text {
    margin-bottom: 20px;
  }
  .card__title {
    font-size: 22px;
  }
  .card__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .card {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__link {
    padding-bottom: 15px;
  }
  .card__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.room-booking {
  padding: 80px 0;
}

.room-booking__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__text-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 407px;
          flex: 0 0 407px;
}

.info__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #424f7b;
  margin-bottom: 12px;
}

.info__text {
  width: 384px;
}

.info__link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0e1734;
  text-decoration: none;
  margin-left: 24px;
}

.room-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
          filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
  padding: 32px 36px;
}

.room-card:not(:last-child) {
  margin-bottom: 24px;
}

.room-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #424f7b;
}

.booking-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 588px;
          flex: 0 0 588px;
}

.booking-block__check-room {
  display: block;
  padding: 38px 36px;
}

.booking-block__check-room-title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.booking-block__check-room-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}

@media (max-width: 1230px) {
  .room-booking {
    padding: 50px 0;
  }
  .info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 407px;
            flex: 0 0 407px;
  }
  .booking-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 533px;
            flex: 0 0 533px;
    padding-left: 30px;
  }
}

@media (max-width: 991.98px) {
  .room-booking {
    padding: 40px 0;
  }
  .info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 362px;
            flex: 0 0 362px;
  }
  .info__title {
    font-size: 32px;
  }
  .info__text {
    width: 350px;
    font-size: 16px;
  }
  .booking-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 358px;
            flex: 0 0 358px;
    padding-left: 30px;
  }
  .room-card {
    padding: 16px 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .room-card:not(:last-child) {
    margin-bottom: 20px;
  }
  .room-title {
    font-size: 17px;
  }
  .booking-block__check-room-title-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .booking-block__check-room-text {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .room-booking {
    padding: 25px 0;
  }
  .room-booking__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
  }
  .info__text-title {
    margin-bottom: 20px;
  }
  .info__title {
    font-size: 32px;
  }
  .info__text {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .info__btn {
    margin-right: 24px;
  }
  .info__link {
    margin-left: 0;
    padding-top: 15px;
  }
  .booking-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-left: 0;
  }
  .room-card {
    padding: 16px 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .room-card:not(:last-child) {
    margin-bottom: 18px;
  }
  .room-title {
    font-size: 16px;
  }
  .booking-block__check-room-title-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 18px;
  }
  .booking-block__check-room-text {
    font-size: 15px;
  }
}

.reviews {
  padding: 80px 0;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slider__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 793px;
          flex: 0 0 793px;
}

.slider__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #521919;
}

.slider__image {
  margin: 62px 0 44px 0;
}

.slider__img {
  display: inline-block;
}

.slider__text {
  display: inline-block;
  width: 793px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #848fac;
  margin-bottom: 40px;
}

.slider__user-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #521919;
  margin-bottom: 24px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0 12px;
}

.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: rgba(250, 176, 71, 0.35);
  border: none;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background: #fab047;
  width: 16px;
  height: 16px;
}

@media (max-width: 1230px) {
  .reviews {
    padding: 50px 0;
  }
}

@media (max-width: 991.98px) {
  .reviews {
    padding: 40px 0;
  }
  .slider__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 700px;
            flex: 0 0 700px;
  }
  .slider__title {
    font-size: 32px;
  }
  .slider__text {
    display: inline-block;
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .reviews {
    padding: 25px 0;
  }
  .slider__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 5px;
  }
  .slider__title {
    font-size: 30px;
    letter-spacing: -0.01em;
  }
  .slider__image {
    margin: 42px 0 24px 0;
  }
  .slider__text {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .slider__user-name {
    margin-bottom: 20px;
  }
}

.footer {
  padding: 120px 0;
  background: #0b265a;
  color: #ffffff;
  margin: 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-text-icon {
  display: inline-block;
}

.footer__logo-text {
  width: 186px;
}

.footer__logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 13px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #d9dbde;
  margin-bottom: 36px;
}

.footer__icon-link {
  text-decoration: none;
}

.footer__icon-link:not(:last-child) {
  margin-right: 24px;
}

.footer__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-link-rooms {
  margin-right: 100px;
}

.footer__nav-link-reservation {
  margin-right: 141px;
}

.rooms-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rooms-title-link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
}

.rooms-text-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #d9dbde;
}

.rooms-title-link:not(:last-child),
.rooms-text-link:not(:last-child) {
  margin-bottom: 24px;
}

@media (max-width: 1230px) {
  .footer {
    padding: 90px 0;
  }
  .footer__nav-link-reservation {
    margin-right: 120px;
  }
  .rooms-title-link:not(:last-child),
  .rooms-text-link:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .footer {
    padding: 70px 0;
  }
  .footer__nav-link-rooms {
    margin-right: 60px;
  }
  .footer__nav-link-reservation {
    margin-right: 60px;
  }
  .rooms-title-link:not(:last-child),
  .rooms-text-link:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .footer {
    padding: 40px 0;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo-text-icon {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 35px;
    text-align: center;
  }
  .footer__logo-text {
    display: inline-block;
  }
  .footer__text {
    margin-bottom: 15px;
  }
  .footer__nav-link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__nav-link-rooms {
    margin-right: 20px;
  }
  .footer__nav-link-reservation {
    margin-right: 20px;
  }
  .rooms-title-link {
    font-size: 14px;
  }
  .rooms-text-link {
    font-size: 12px;
  }
  .rooms-title-link:not(:last-child),
  .rooms-text-link:not(:last-child) {
    margin-bottom: 15px;
  }
}
